<!DOCTYPE html>
<html lang="en" ng-app="NuShApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nu-sh</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/freelancer.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/bower_components/flexslider/flexslider.css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css">
    <link href="/static/font/montserrat.css" rel="stylesheet" type="text/css">
    <link href="/static/font/lato.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/static/font/bangers.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="/static/js/html5shiv.js"></script>
        <script src="/static/js/respond.min.js"></script>
    <![endif]-->
    <link href='/static/font/pacifico.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/buttons.css">
</head>

<body id="page-top" class="index" ng-controller="nuShController">
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#page-top" style="font-family: Bangers; font-weight: 500;">nu-sh</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="/#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="/#ambo">ambos</a>
                </li>
                <li class="page-scroll">
                    <a href="/#chaqueta">Chaquetas</a>
                </li>
                <li class="page-scroll">
                    <a href="/#pantalon">Pantalones</a>
                </li>
                <li class="page-scroll">
                    <a href="/#about">Nosotros</a>
                </li>
                <li class="page-scroll">
                    <a href="/#contact">Contacto</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container text-center" style="padding-top: 120px; padding-bottom: 30px">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
                <h2>{{ producto.model }}</h2>
                <h5>{{ producto.name }}</h5>
                <hr class="star-primary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <flex-slider slide="imagen in producto.imagen track by $index" animation="slide" control-nav="thumbnails">
                                <li data-thumb="{{imagen}}" class="img-responsive" style="width: 864px;">
                                    <img ng-src="{{imagen}}"  class="img-responsive">
                                </li>
                            </flex-slider>
                        </div>
                        <div class="col-md-offset-1 col-md-7">
                            <span style="font-family: Bangers; font-weight: 500; font-size: 30px">Precio: $ {{ producto.precio }}</span>
                            <br>
                            <h4>Talles</h4>
                            <div class="col-md-offset-1 col-md-10">
                                <table class="table table-responsive table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Talle</th>
                                            <th>Hombros</th>
                                            <th>Busto</th>
                                            <th>Largo Chaqueta</th>
                                            <th>Cadera</th>
                                            <th>Largo Piernas</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="talle in talles">
                                        <tr>
                                            <td>{{talle.size}}</td>
                                            <td>{{talle.hombros}}</td>
                                            <td>{{talle.busto}}</td>
                                            <td>{{talle.largo_c}}</td>
                                            <td>{{talle.cadera}}</td>
                                            <td>{{talle.largo_p}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br><br>
                            <button ng-click="toggleModal()" id="encargar" type="button" class="action-button shadow animate blue btn"><i class="fa fa-shopping-basket" style="width: 74px"></i></button>
                            <!--<button id="comprar" type="button" class="action-button shadow animate blue btn"><i class="fa fa-shopping-cart" style="width: 74px"></i></button>-->
                            <!--<button id="agregar" type="button" class="action-button shadow animate blue btn"><i class="fa fa-cart-plus" style="width: 74px"></i></button>-->
                        </div>
                    </div>
                </div>
            <br><br><br>
            <a href="/#{{ producto.tipo }}" type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i> Volver</a>
            </div>
        </div>

    <modal title="Encargar pedido" visible="showModal">
        <form role="form" method="post" action="/encargo">
            <div class="form-group">
                <label for="full_name">Nombre Completo</label>
                <input type="string" class="form-control" name="full_name" id="full_name" placeholder="Nombre Completo" />
            </div>
            <input type="hidden" class="form-control" name="producto" id="producto" value="{{ producto.name }}" />
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Mail" />
            </div>
            <div class="form-group">
                <label for="telephone">Telefono</label>
                <input type="tel" class="form-control" name="telephone" id="telephone" placeholder="Telefono" />
            </div>
            <div class="form-group">
                <label for="talle">Talle</label>
                <input type="string" class="form-control" name="talle" id="talle" placeholder="Talle" />
            </div>
            <button type="submit" class="action-button shadow animate blue btn">Encargar</button>
            <br><br><br><br>
        </form>
    </modal>

</div>

    <!-- jQuery -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Angular and App -->
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/static/js/angular/detail/app.js"></script>
    <script src="/static/js/angular/detail/constant.js"></script>
    <script src="/static/js/angular/directives/modal.js"></script>
    <script src="/static/js/angular/detail/factory.js"></script>
    <script src="/static/js/angular/detail/controller.js"></script>
    <script src="/static/js/angular/detail/service.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/js/jquery.easing.min.js"></script>
    <script src="/static/js/classie.js"></script>
    <script src="/static/js/cbpAnimatedHeader.js"></script>


    <!-- Contact Form JavaScript -->
    <script src="/static/js/jqBootstrapValidation.js"></script>
    <script src="/static/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/freelancer.js"></script>
    <script src="/bower_components/flexslider/jquery.flexslider-min.js"></script>
    <script src="/bower_components/angular-flexslider/angular-flexslider.js"></script>

    <!-- Custom JavaScript files -->
    <script src="/static/js/compra.js"></script>

</body>

</html>
